.btn {
  border: none;
  background-color: #fcfdff;
  color: #0025ff;
  border-radius: 6px;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2rem;
  padding:0.6rem 1.6rem;
}
.btn:focus{
  outline: none;
  border-color: #08beef;
}

.btn:active{
  background-color: #08beef;
  color: #fff;
}