.card {
  margin: 0.8rem;
  padding: 0.8rem;
}

.transaction-header{
  margin: 0.8rem;
  padding: 3rem 0.8rem;
}

.amount{
  font-size: 3.6rem;
  color: #fff;
}

.transaction-detail{
  font-size: 0.8rem;
  color: #8db6fe;
}