.card {
  margin: 0.8rem 0.8rem 4rem;
  padding: 0.8rem;
}

.transaction-header{
  margin: 0.8rem;
  padding: 3rem 0.8rem;
}

.amount{
  font-size: 3.6rem;
  color: #fff;
}

.transaction-detail{
  font-size: 0.8rem;
  color: #8db6fe;
}

.home-link{
  background-color: #8db6fe;
  color:#275ffb;
  font-size:.8rem;
  border-radius: 50vh;
  padding: 0.12rem 0.6rem;
  text-decoration: none;
}