.card {
  border-radius: 8px;
  box-shadow: 0 0 8px #ccc;
  margin: 0.8rem;
  padding: 0.8rem;
}

header{
  margin: 0.8rem;
  padding: 0.8rem;
}

.amount{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2rem;
  color: #777;
}

.transaction-cost{
  font-size: 0.8rem;
}