.select {
  border: 2px solid #aaa;
  border-radius: 4px;
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 1rem;
  margin: 0 auto 1.2rem;
  padding:0.4rem;
}
.select:focus{
  outline: none;
  border-color: #08beef;
}

.select:active{
  background-color: #aaa;
}

.select-label{
  display: block;
  font-size:0.8em;
}